@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body{
  /*background-color:#353353;*/
  /*background-color: #A0F2F4;*/
  background-color: white;
}

#container {
  width: 100%;
}

#content {
  width:87%; 
  height:100%; 
  float:right;
}

#sidebar {
  width:13%;
  height:100%;
  float: left;
  position:fixed;
  }

.inner-left{
  display: block;
  padding: 10em 1em;
  margin-right: .5em;
  border-right: #999999 2px solid;
  height: 120vh;
}
div.inner-left ul li{
  margin: 3em auto;
}

div.inner-left ul li a{
  font-size: 1.5em;
  transition: font-size ease-in-out .1s;
}


div.inner-left ul li a:hover {
  font-size: 1.7em;
}


#myimage {
  display: block;
  margin: .5em auto;
  border-radius: 50%;
  height: 10em;
}

h1 {
  color: #05668D;
  text-align: center;
  margin: 20px auto;
  font-size: 4em;
}

h2.sect {
  margin: 2em 0em .5em 8em;
  font-size: 2.5em;
}

div.sect hr {
  margin: 0px 4em 2px 6em;
  background: white;
  height: 1px;
}

nav ul {
  text-align: center;
}

nav li {
  font-size: 18px;
  border: 1.5px solid black;
  border-radius: 7%;
  padding: 10px;
  color: white;
  width: 120px;
  padding: auto;
  display:inline-block;
  text-align: center;
}

div.spacer {
  height: 30em;
}

nav li:hover {
  background-color: #F0F3BD;
}

ul.nostyle {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

section.info p {
  display:block;
  font-size: 1.2em;
  max-width: auto;
  text-indent: 3em;
  margin: 5px auto;
  margin-bottom: 5em;
  max-width: 1200px;
}

section.info ul{
  display: block;
  margin: .2em 15em;
}
section.info ul li{
  font-size: 1.5em;
}
section.info ul li ul li{
  font-size: 1rem;
  text-indent: -7.8em;
  margin: 0em;
  min-width: 30em;
}

footer {
  margin: 2em 0em 1em 1em;
  position: relative;
}